"C:\Users\algui\OneDrive\Documentos\Inas\Codenotch\Modulo 1\Dia 6\Reto2Imagenes\Reto_2"
"C:\Users\algui\OneDrive\Documentos\Inas\Codenotch\Modulo 1\Dia 6\Reto2Imagenes\paso1.png"
"C:\Users\algui\OneDrive\Documentos\Inas\Codenotch\Modulo 1\Dia 6\Reto2Imagenes\paso2.png"